## Setup

In [1]:
import os
# give googe drive the required permission
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Create a folder in your drive and add the name of that folder here.
# For example, for the code below to run correctly, you need to have a folder named FoodRecSys in 'My Drive'.
# The said folder will be your home directory for the rest of the project.
# You will be able to save and read data from the folder.

os.chdir("/content/drive/MyDrive/FoodRecSys/")
os.getcwd()

'/content/drive/MyDrive/FoodRecSys'

In [3]:
os.chdir("/content/drive/MyDrive/food_recsys_project/Code_Files/")
os.getcwd()

'/content/drive/MyDrive/food_recsys_project/Code_Files'

In [4]:
try:
  import pyspark
except:
  !pip install pyspark==3.1.2
  import pyspark

Collecting pyspark==3.1.2
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.4/212.4 MB 5.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9 (from pyspark==3.1.2)
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 16.8 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880745 sha256=bebbade96cb9a06eb73d0f4dfc65fde475adc02ec3c909ac977f319ce5f242e9
  Stored in directory: /root/.cache/pip/wheels/ef/70/50/7882e1bcb5693225f7cc86698f10953201b48b3f36317c2d18
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [5]:
from pyspark.sql import SparkSession
from pyspark.context import SparkContext

In [6]:
spark = SparkSession.builder.master("local").config('spark.ui.port', '4050').getOrCreate()

In [7]:
spark

## Imports

In [8]:
import pandas as pd
import numpy as np

from pyspark.sql import functions as F
# Import for typecasting columns
from pyspark.sql.types import IntegerType,BooleanType,DateType,FloatType,StringType, ArrayType

## Read the data

In [9]:
raw_ratings_df = (spark.read.csv("/content/raw_ratings_small.csv", # modify the path to read the data
                                 header=True,
                                 inferSchema= True))

In [10]:
raw_ratings_df.show()

+-------+---------+------+--------------------+-----------+
|user_id|recipe_id|rating|              review|review_date|
+-------+---------+------+--------------------+-----------+
| 483827|   306785|     5|Being a  huge fan...| 2008-07-15|
|   6258|    20930|     5|Jan  what an inte...| 2002-07-09|
| 102602|    20930|     5|Jan  we love your...| 2003-10-26|
| 296027|   182985|     4|Very nice fresh s...| 2007-05-19|
|   9580|   208980|     5|I saw this on 30 ...| 2007-02-05|
| 462571|   208980|     5|These were a snap...| 2007-07-05|
| 376098|   208980|     5|This was great! M...| 2007-08-01|
| 222139|   208980|     5|I chose this reci...| 2007-09-08|
| 674484|   208980|     5|Since this is one...| 2008-09-15|
|1251627|   208980|     5|This recipie was ...| 2009-06-23|
| 456221|   208980|     5|This is a favorit...| 2010-02-20|
| 229619|   208980|     5|I was flipping th...| 2011-06-26|
| 280271|   219118|     4|This is so yummy....| 2008-11-09|
| 305531|   219118|     4|Really good carro...| 2008-12-17|
| 326970|   161899|     5|I made this Jamba...| 2006-10-27|
|  44642|   190875|     0|Just posting  so ...| 2006-10-19|
| 162191|   190875|     5|I loved this recipe.| 2006-10-20|
| 450004|   241335|     4|We really enjoyed...| 2008-09-23|
|  29782|   256397|     5|I absolutely LOVE...| 2007-11-05|
| 865936|   278119|     5|I made this into ...| 2010-06-12|
+-------+---------+------+--------------------+-----------+
only showing top 20 rows

In [11]:
raw_recipes_df = spark.read.csv("/content/raw_recipies_small.csv", # modify the path to read the data
                                header=True,
                                inferSchema=True)

In [12]:
raw_recipes_df.show()

+--------------------+------+-------+--------------+----------+--------------------+--------------------+-------+--------------------+--------------------+--------------------+-------------+--------------+
|                name|    id|minutes|contributor_id| submitted|                tags|           nutrition|n_steps|               steps|         description|         ingredients|n_ingredients|year_of_review|
+--------------------+------+-------+--------------+----------+--------------------+--------------------+-------+--------------------+--------------------+--------------------+-------------+--------------+
|beat this  banana...| 75452|     70|         15892|2003-11-04|['weeknight', 'ti...|[2669.3, 160.0, 9...|     12|['preheat oven to...|  from ann hodgman's|['sugar', 'unsalt...|            9|          2003|
|      chinese  candy| 23933|     15|         35268|2002-03-29|['15-minutes-or-l...|[232.7, 21.0, 77....|      4|['melt butterscot...|a little differen...|['butterscotch ch...|            3|          2002|
|cream  of caulifl...| 23850|    110|          3288|2002-03-28|['lactose', 'week...|[174.2, 4.0, 24.0...|     10|['heat the oil or...|this is a dairy free|['canola oil', 'o...|           16|          2002|
|cream  of spinach...| 76808|     45|         95743|2003-11-17|['60-minutes-or-l...|[126.0, 11.0, 2.0...|      9|['bring water and...|wonderful comfort...|['water', 'salt',...|            8|          2003|
|i can t believe i...| 33165|     30|         40493|2002-07-04|['30-minutes-or-l...|[152.5, 2.0, 20.0...|     12|['cut potatoes in...|the name says it ...|['red potatoes', ...|           13|          2002|
|i stole the idea ...| 90921|     18|         15851|2004-05-10|['30-minutes-or-l...|[783.4, 46.0, 107...|      8|['in a large pot ...|i love mirj's fun...|['angel hair past...|            8|          2004|
|keep it going  ge...| 26995|  14450|         37305|2002-04-30|['weeknight', 'ti...|[724.4, 38.0, 297...|     13|['mix starter ing...|yes  this sounds ...|['flour', 'water'...|           17|          2002|
|mennonite  corn f...| 44045|     15|         41706|2002-10-25|['15-minutes-or-l...|[67.1, 7.0, 2.0, ...|      6|['combine eggs , ...|ok - my heritage ...|['fresh corn', 'e...|            8|          2002|
|no bake  cookie c...| 71635|    135|         82367|2003-09-26|['weeknight', 'ti...|[387.6, 39.0, 98....|      8|['in blender , sp...|yet another one i...|['gelatin', 'milk...|            8|          2003|
|one bowl  perfect...| 26835|     70|         37305|2002-04-29|['weeknight', 'ti...|[456.6, 32.0, 164...|      7|['preheat oven to...|this is the perfe...|['all-purpose flo...|            9|          2002|
|open sesame  noodles|107229|     28|        173674|2004-12-30|['30-minutes-or-l...|[617.5, 34.0, 13....|      8|['cook pasta in s...|this is a very ve...|['vermicelli', 'r...|           12|          2004|
|say what   banana...| 95926|      5|        118163|2004-07-20|['15-minutes-or-l...|[238.0, 3.0, 66.0...|      4|['spread a tables...|you just have to ...|['white bread', '...|            3|          2004|
|smells like sunda...|103948|     90|         73836|2004-11-12|['time-to-make', ...|[692.2, 53.0, 16....|     20|['first of all ma...|like many family ...|['boneless skinle...|           15|          2004|
|      sugared grapes| 39947|     15|         54631|2002-09-10|['15-minutes-or-l...|[140.4, 0.0, 133....|      5|['for one regular...|i first tasted th...|['green grape', '...|            3|          2002|
|zupa ze swiezych ...|105069|     40|         51109|2004-11-30|['60-minutes-or-l...|[176.6, 19.0, 11....|     10|['wash and coarse...|posted in respons...|['wild mushrooms'...|           10|          2004|
|1 asian noodle salad| 70099|     26|         75379|2003-09-02|['30-minutes-or-l...|[231.1, 7.0, 21.0...|      7|['bring a large p...|i am addicted to ...|['rice noodles', ...|           13|          2003|
|1 brownies in the...|333281|     40|        985201|2008-10-27|['60-minutes-or-l...|[138.4, 10.0, 50....|     10|['heat the oven t...|these are the mos...|['bittersweet cho...|            9|          2008|
|1 favorite chines...| 37841|     45|         51641|2002-08-20|['60-minutes-or-l...|[264.7, 41.0, 4.0...|     18|['clean and scale...|steamed whole fre...|['fish', 'scallio...|            9|          2002|
|1 in canada choco...|453467|     45|       1848091|2011-04-11|['60-minutes-or-l...|[595.1, 46.0, 211...|     12|['pre-heat oven t...|this is the recip...|['white sugar', '...|           11|          2011|
|250 00 chocolate ...|118843|     20|        145599|2005-04-24|['30-minutes-or-l...|[5286.9, 427.0, 1...|      3|['mix all ingredi...|these are great! ...|['butter', 'white...|           13|          2005|
+--------------------+------+-------+--------------+----------+--------------------+--------------------+-------+--------------------+--------------------+--------------------+-------------+--------------+
only showing top 20 rows

In [13]:
assert (raw_recipes_df.count(), len(raw_recipes_df.columns)) == (20340, 13)
assert (raw_ratings_df.count(), len(raw_ratings_df.columns)) == (93357, 5)

#### Decide a split date based on the ratings dataframe.

In [14]:
# Find the number of data points in the interaction dataset.
# You can use the count() method.
# The output must be an integer.

num_review_int = raw_ratings_df.count()
num_review_int

93357

# Task 01 - Train Test Split

Divide the data into train and test based on the 80 - 20 split using the approach discussed. You will have to save the data in a parquet file.

In [15]:
train_num_reviews_int = round(num_review_int *0.8)
train_num_reviews_int

74686

In [16]:
test_num_reviews_int = round(num_review_int *0.2)
test_num_reviews_int

18671

In [17]:
# Sort the interactions dataset in descending order of review date.
# Extract ```test_num_reviews_int``` most recent reviews.

temp_ratings_df = (raw_ratings_df.sort("review_date", ascending=False)
                                 .limit(test_num_reviews_int)
                  )

In [18]:
assert temp_ratings_df.count()  == 18671
assert raw_recipes_df.collect()[11][4] <= raw_recipes_df.collect()[10][4]

In [19]:
temp_ratings_df.collect()[-1][4]

'2011-07-17'

Split the data into two parts before and after 2011-07-17.

- All reviews in the ratings data after 2011-07-17 will not exsist in the training set.
- For all future predictions the date will be set at 2011-07-18.

In [20]:
# Join raw_recipes and raw_ratings
# Use recipe_id as the key to join these dataframes
# The resulting dataframe must have all rows from the raw_ratings dataframe.

interaction_level_df = raw_ratings_df.join(raw_recipes_df,
                                           raw_ratings_df.recipe_id == raw_recipes_df.id
                                          )

In [21]:
interaction_level_df.show()

+----------+---------+------+--------------------+-----------+--------------------+-----+-------+--------------+----------+--------------------+--------------------+-------+--------------------+--------------------+--------------------+-------------+--------------+
|   user_id|recipe_id|rating|              review|review_date|                name|   id|minutes|contributor_id| submitted|                tags|           nutrition|n_steps|               steps|         description|         ingredients|n_ingredients|year_of_review|
+----------+---------+------+--------------------+-----------+--------------------+-----+-------+--------------+----------+--------------------+--------------------+-------+--------------------+--------------------+--------------------+-------------+--------------+
|    152552|    29601|     5|Excellent. It was...| 2004-08-20|zippy cold spicy ...|29601|    270|         30367|2002-05-29|['time-to-make', ...|[277.2, 15.0, 13....|     12|['in a heavy 10-i...|shrimp drink in t...|['oil', 'medium s...|           11|          2002|
|     16334|    33602|     5|So easy my husban...| 2002-12-20|zucchini with oni...|33602|     50|         23302|2002-07-08|['60-minutes-or-l...|[84.4, 5.0, 28.0,...|      5|['melt the butter...|                null|['unsalted butter...|            6|          2002|
|     31635|    33602|     4|Absolutely delici...| 2005-06-03|zucchini with oni...|33602|     50|         23302|2002-07-08|['60-minutes-or-l...|[84.4, 5.0, 28.0,...|      5|['melt the butter...|                null|['unsalted butter...|            6|          2002|
|     35526|    33602|     5|We really liked t...| 2005-11-09|zucchini with oni...|33602|     50|         23302|2002-07-08|['60-minutes-or-l...|[84.4, 5.0, 28.0,...|      5|['melt the butter...|                null|['unsalted butter...|            6|          2002|
|     48107|    35912|     4|The quiche was ve...| 2002-12-24|cheesy bacon   sa...|35912|     75|         45698|2002-08-02|['bacon', 'weekni...|[4123.9, 503.0, 2...|     13|['preheat oven to...|neat breakfast (o...|['breakfast sausa...|            9|          2002|
|    141980|    35912|     4|I made this over ...| 2004-06-06|cheesy bacon   sa...|35912|     75|         45698|2002-08-02|['bacon', 'weekni...|[4123.9, 503.0, 2...|     13|['preheat oven to...|neat breakfast (o...|['breakfast sausa...|            9|          2002|
|     60989|    35912|     5|Perfect quiche. E...| 2006-11-07|cheesy bacon   sa...|35912|     75|         45698|2002-08-02|['bacon', 'weekni...|[4123.9, 503.0, 2...|     13|['preheat oven to...|neat breakfast (o...|['breakfast sausa...|            9|          2002|
|    537937|    35912|     5|Thanks Ocean for ...| 2008-02-03|cheesy bacon   sa...|35912|     75|         45698|2002-08-02|['bacon', 'weekni...|[4123.9, 503.0, 2...|     13|['preheat oven to...|neat breakfast (o...|['breakfast sausa...|            9|          2002|
|1802380878|    35912|     0|I pretty much fol...| 2014-01-19|cheesy bacon   sa...|35912|     75|         45698|2002-08-02|['bacon', 'weekni...|[4123.9, 503.0, 2...|     13|['preheat oven to...|neat breakfast (o...|['breakfast sausa...|            9|          2002|
|     53378|    40335|     5|You are right  th...| 2002-10-05|emeril s tater to...|40335|     55|          3288|2002-09-16|['celebrity', 'ha...|[1258.0, 129.0, 2...|      8|['preheat the ove...|got this kid frie...|['butter', 'eggs'...|            9|          2002|
|     57562|    40335|     3|I would rate this...| 2002-11-02|emeril s tater to...|40335|     55|          3288|2002-09-16|['celebrity', 'ha...|[1258.0, 129.0, 2...|      8|['preheat the ove...|got this kid frie...|['butter', 'eggs'...|            9|          2002|
|     47230|    40335|     5|YUMMY!! These tat...| 2002-11-09|emeril s tater to...|40335|     55|          3288|2002-09-16|['celebrity', 'ha...|[1258.0, 129.0, 2...|      8|['preheat the ove...|got this kid frie...|['butter', 'eggs'...|            9|          2002|
|     55536|    40335|     4|Great tasting dis...| 2003-08-17|emeril s tater to...|40335|     55|          3288|2002-09-16|['celebrity', 'ha...|[1258.0, 129.0, 2...|      8|['preheat the ove...|got this kid frie...|['butter', 'eggs'...|            9|          2002|
|2001602879|    40335|     5|Using the feedbac...| 2017-06-27|emeril s tater to...|40335|     55|          3288|2002-09-16|['celebrity', 'ha...|[1258.0, 129.0, 2...|      8|['preheat the ove...|got this kid frie...|['butter', 'eggs'...|            9|          2002|
|     14823|    40386|     5|This was very goo...| 2002-10-16|egg and bacon cas...|40386|     60|         50997|2002-09-16|['60-minutes-or-l...|[4272.4, 523.0, 1...|      9|['place butter in...|breakfast is our ...|['butter', 'crout...|            7|          2002|
|     91383|    40386|     4|I cooked this the...| 2003-07-02|egg and bacon cas...|40386|     60|         50997|2002-09-16|['60-minutes-or-l...|[4272.4, 523.0, 1...|      9|['place butter in...|breakfast is our ...|['butter', 'crout...|            7|          2002|
|     21443|    40386|     4|My children gave ...| 2005-03-21|egg and bacon cas...|40386|     60|         50997|2002-09-16|['60-minutes-or-l...|[4272.4, 523.0, 1...|      9|['place butter in...|breakfast is our ...|['butter', 'crout...|            7|          2002|
|    153188|    40386|     4|This was super go...| 2007-10-19|egg and bacon cas...|40386|     60|         50997|2002-09-16|['60-minutes-or-l...|[4272.4, 523.0, 1...|      9|['place butter in...|breakfast is our ...|['butter', 'crout...|            7|          2002|
|     53391|    50348|     5|This is a refresh...| 2003-02-05|pineapple yogurt ...|50348|     35|         61388|2003-01-08|['60-minutes-or-l...|[277.2, 2.0, 224....|      3|['mix yogurt and ...|this recipe is fr...|['low-fat plain y...|            3|          2003|
|    142361|    50348|     4|This is very good...| 2007-02-26|pineapple yogurt ...|50348|     35|         61388|2003-01-08|['60-minutes-or-l...|[277.2, 2.0, 224....|      3|['mix yogurt and ...|this recipe is fr...|['low-fat plain y...|            3|          2003|
+----------+---------+------+--------------------+-----------+--------------------+-----+-------+--------------+----------+--------------------+--------------------+-------+--------------------+--------------------+--------------------+-------------+--------------+
only showing top 20 rows

In [22]:
# Use the filter command to separate the datasets.
# All interactions which were rated BEFORE '2011-07-17' will be train data.

train_interaction_level_df  = (interaction_level_df.filter(interaction_level_df.review_date < '2011-07-17'))# add code to filter

In [23]:
# Use the filter command to separate the datasets.
# All interactions which were rated ON OR AFTER '2011-07-17' will be test data.

test_interaction_level_all_recipies_df  = (interaction_level_df.filter(interaction_level_df.review_date >= '2011-07-17'))# add code to filter

In [24]:
assert (test_interaction_level_all_recipies_df.count(), len(test_interaction_level_all_recipies_df.columns)) == (18684, 18)
assert (train_interaction_level_df.count(), len(train_interaction_level_df.columns)) == (74673, 18)

In [25]:
# create data files for modeling

(train_interaction_level_df.coalesce(1)
                           .write.mode('overwrite')
                           .parquet('train_interaction_level_df.parquet'))  # change the file name and file path

(test_interaction_level_all_recipies_df.coalesce(1)
                                       .write.mode('overwrite')
                                       .parquet('test_interaction_level_all_recipies_df.parquet'))  # change the file name and file path